<!--The content below is only a placeholder and can be replaced.-->
<H1 style="text-align: center;">Hello Angular, hello {{nom}}</H1>
<app-child></app-child>
<app-frame>Let's play a game</app-frame>
<p>This is plain text</p>
<p>
  Type ya name
  <input (input)="refresh($event.target.value)" type="text">
</p>

<p>
  Check on console how good I'm working
  <button (click)="affichage()" >Display in console</button>
</p>

<ul>
  <li *ngFor='let m of movies'>
    {{m}}
  </li>
</ul>

<!--
<app-register></app-register>
-->
